@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-it: #172554;
  --color-gaming: #082f49;
  --color-dev: #1e1b4b;
  --color-muted-shady-red: #de6159;
}

html {
  scroll-behavior: smooth;
}

.hover-effect {
  position: relative;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.hover-effect::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 50%;
  background-color: var(--color-muted-shady-red);
  transition: width 0.4s, left 0.4s;
}

.hover-effect:hover::after {
  width: 100%;
  left: 0;
}

.timeline-card-top::before,
.timeline-card-bottom::before {
  content: '';
  position: absolute;
  left: 50%;
  width: 9px;
  height: 9px;
  /* Defined in TimelineCard component */
  background-color: var(--arrow-bg-color);
}

.timeline-card-top::before {
  top: 85%;
  width: 10px;
  height: 10px;
  transform: translateX(-50%) rotate(135deg);
  border-right: 2px solid var(--color-muted-shady-red);
  border-top: 2px solid var(--color-muted-shady-red);
}

.timeline-card-bottom::before {
  bottom: 86%;
  transform: translateX(-50%) rotate(225deg);
  border-right: 2px solid var(--color-muted-shady-red);
  border-bottom: 2px solid var(--color-muted-shady-red);
}

.waves {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 310px;
  transition: 500ms;
  z-index: 1;
}

@media (min-width: 800px) {
  .waves {
    height: 260px;
  }
}

.waves::before,
.waves::after {
  content: '';
  position: absolute;
  width: 2800px;
  height: 2800px;
  top: -1280px;
  left: 50%;
  transform: translate(-50%, -25%);
}

.waves::before {
  border-radius: 44%;
  background: '#A64942';
  background: rgba(148, 65, 59, 0.3);
  animation: waves 12s linear infinite;
}

.waves::after {
  border-radius: 44%;
  background: rgba(167, 73, 67, 0.7);
  animation: waves 20s linear infinite;
}

@keyframes waves {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.35);
  border-radius: 3px;
  background-color: #e0e7ff;
}
::-webkit-scrollbar {
  border-radius: 3px;
  width: 9px;
  height: 9px;
  background-color: #e0e7ff;
}
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--color-muted-shady-red);
}
